$bg-color: #2C2F31;
$primary: #5485B6;
$secondary: #E5E5E5;
$light-link: #8C8c8c;
$dark-link: #595959;
$beginner-color: #E1DA34;
$medium-color: #DE3DB1;
$advanced-color: #3DD84D;
$passionate-color: #973FEF;