@import "variables";
.mb3{
  margin-bottom: 3rem;
}
.computer {
  @media (max-width: 768px) {
    display: none;
  }
}

.title{
  width:100%;
  font-family: Roboto-mono,monospace;
  font-size: 15px;
  font-weight: 800;
  color: $dark-link;
}

.big-sub-title{
  width:100%;
  font-size:70px;
  font-weight: bold;
  margin-bottom: 40px;
  p {
    max-width: 25vw;
    @media (max-width: 768px) {
      max-width: 100vw;
    }
    margin:0px;
  }
}
.blue {
  color: $primary;
}
.grey {
  color : $dark-link;
}
.mobile {
  @media (min-width: 768px) {
    display: none;
  }
}

.pageWrapper {
  margin-left: 10vw;
  margin-right: 10vw;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}


.column {
  display: flex;
  flex-direction: column;
  flex: 1;
  @media (max-width: 768px) {
    flex: 0 0 100%;
  }
}

.cta-link {
  margin-top:7vh;
  font-size: 20px;
  font-family: Roboto-mono,monospace;
  font-weight: bold;
  color: $primary !important;
  height:30px;
  letter-spacing: 2px;
  text-underline-offset: 10px;
}