@import "../Layout/variables";

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 115px;
  flex: 1;
  margin-left: 15vw;
  margin-right: 10vw;

  svg {
    position: absolute;
    top: 30px;
    left: 10vw;
  }

  * {
    font-family: Roboto Mono, monospace;
  }
}

.computer-menu {
  @media (min-width: 768px) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
}

.left-elements {
  display: flex;
  align-items: center;

  a {
    margin-right: 3.5em;
    text-decoration: none;
  }
}

.right-elements {

}

.color-mode-switch {

}

.mobile-menu {
  @media (max-width: 768px) {
    .mobile-nav-bar{
      width: 70vw;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      flex-direction: row;
      flex-wrap: wrap;
      flex:1;
    }
    .menu-toggle{
      z-index:2000;
      display: flex;
      justify-content: flex-end;
      align-self: end;
      flex-wrap: wrap;
      overflow: visible;
      * {
        overflow: visible;
      }
    }
    .menu {
      position: fixed;
      z-index:1000;
      top:0;
      left:0;
      width: 100vw;
      height: 100vh;
      padding-top:16px;
      .menu-content {
        display: flex;
        align-items: center;
        align-content: space-around;
        justify-content: start;
        flex-direction: row;
        flex-wrap: wrap;
        flex:1;
        padding-left: 10vw;
        width: 100%;
        max-height:  80vh;
        a {
          height: 3vh;
          text-decoration: none;
          font-size: 7vw;
          padding-bottom: 5vh;
          width: 100%;
          font-family: Roboto, serif;
          border-bottom: 1px solid rgba(0,0,0,0.3);
        }
      }
    }
    .closed {
      display: none;
    }
    .opened{
      display:flex;
    }
  }
}


