@import '../Layout/variables';
.footer{
  margin-top:100px;
  margin-bottom:0px;

  section{
    margin-left: 10vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 50px;
    div {
      display: flex;
      align-items: end;
      @media (max-width: 768px) {
        justify-content: space-between;
        flex-wrap: wrap;
        width: 100%;
      }
      a, strong {
        margin-right: 20px;
        text-decoration: none;
        @media (max-width: 768px) {
          margin-right: 5px;
        }
      }
    }

    .upLink{
      font-weight: normal;
      text-decoration: none;
      border: 1px solid #C4C4C4;
      position: relative;
      width:80px;
      height:80px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      flex-direction: row;
      flex-wrap: wrap;
      transition: 1s;
      svg,span {
        margin:0px;
        padding: 0px;
        display: flex;
        align-self: center;
        justify-content: space-around;
        width:100%;
        transition: 0.5s;
      }
      &:hover span,&:hover svg{
        margin-top:-10px;
      }
      @media (max-width: 768px) {
        display:none;
      }

    }
  }

  .color-filler{
    margin: 0;
    margin-top:20px;
    width:100%;
    height: 25px;
    background-color: $primary;
  }
}
