@import "../Layout/variables";

.hiro-section {
  margin-bottom:25vh;
  p {
    @media (min-width: 768px) {
      width: 60%;
    }
  }
  .hiroText{
    display: flex;
    flex-direction: column;
    @media (min-width: 768px) {
      width: 50vw;
    }
  }
  .particle-container{
    @media (min-width: 768px) {
      position: absolute;
      top: 0px;
      left: 50vw;
      width: 37vw;
      height: 80vh;
      max-height: 800px;
    }
    @media (max-width: 768px) {
      display: none;
    }
  }
}



.hiro-title {
  margin-top: 10%;
  font-family: "Roboto", serif;
  font-style: normal;
  font-size: 18vw;
  font-weight: 900;
  margin-bottom: 3vh;
  h1 {
    font-family: "Roboto";
    font-style: normal;
    font-size: 18vw;
    font-weight: 900;
    line-height: 80px;
    color: $primary;
    margin: 0px;
  }
  @media (min-width: 768px) {
    width: 80%;
    font-size: 5vw;
    h1 {
      font-size: 5vw;
    }
  }
}